.padre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.padre-card {
    margin-top: 80px;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    color: #fff;
}

.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .imgg {
    width: 100px;
    height: 100px;
} 
