@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800&family=Teko:wght@600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

.navbar-toggler{
  background: #6bd41a;
}

.barra{
  background-color: black;
  color: #fff;
}

.brand img {
  width: auto;
  height: 60px;
}

.navbar-nav .nav-link.active{
  color: #fff;
}

.navbar-nav .nav-link.active:hover{
  color: #6bd41a;
}

ul li {
  font-family: "Teko SemiBold",sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  line-height: 24px;
}

ul li a:hover{
  cursor: pointer ;
  font-size: 20px;
  transition: 0.8s;
}

#cartwidget{  
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

#cartwidget p {
  margin-top: 15px;
  color: #000;
}

#cartwidget img {
  width: auto;
  height: 40px;
}

.saludo {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #335c81 74%);
}

.price{
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.buttons{
  background: rgb(146, 146, 146);
  display: flex;
  justify-content: space-around;
}

.button1{
  background: rgb(197, 197, 197);
  color: rgb(0, 0, 0);
  border-radius: 3px;
}

.button1:hover{
  background: rgb(68, 144, 230);
}