/* .list-padre{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.item-list{
    margin: 20px;
    max-width: 0 auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .item-list {
        /* Estilos para dispositivos móviles */
        grid-template-columns: 1fr, 1fr; /* Cambia la disposición a una columna */
        gap: 5px; /* Ajusta el espacio entre elementos para pantallas más pequeñas */
        /* Otros estilos específicos para móviles */
    }
}

@media screen and (max-width: 768px) {
    .item-list {
        /* Estilos para dispositivos móviles */
        grid-template-columns: 1fr;
        margin-left: 150px; /* Cambia la disposición a una columna */
        gap: 5px; /* Ajusta el espacio entre elementos para pantallas más pequeñas */
        /* Otros estilos específicos para móviles */
    }
}